<!doctype html>
<html class="no-js" ng-app="<%= appName %>">
  <head>
    <meta charset="utf-8">
    <title><%= appName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <base href="/"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({app,.}) assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!--  -->

    <!-- build:css(.tmp) assets/styles/main.css -->

    <!-- include: "type": "css", "basePath": ".tmp", "files": "**/*.css" -->
    <!-- /include -->

    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      <div id="container-view" ui-view></div>
      <toast></toast>
    <!--[if lte IE 9]>
    <!-- build:js(.) scripts/shim.js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <!-- endbuild -->
    <!-- [endif]-->

    <!-- build:js({app,.}) scripts/main.js -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js({.tmp,app,.}) scripts/scripts.js -->

    <!-- include: "type": "js", "basePath": "app", "files": ["common/**/*.js", "!common/**/*.scenario.js", "!common/**/*.spec.js"], "ordering": "top-down" -->
    <!-- /include -->

    <!-- include: "type": "js", "basePath": "app", "files": ["components/**/*.js", "!components/**/*.scenario.js", "!components/**/*.spec.js"], "ordering": "top-down" -->
    <!-- /include -->

    <!-- endbuild -->

</body>
</html>
